{% extends 'global/base.html' %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block content %}

<div class="chat-container">

    <div class="chat-header">
        <img class="chat-logo" src="{% static 'livros/img/logo.png' %}">
    </div>

    <div class="chat-search">
         <input type="text" placeholder="Pesquisar conversas…">
    </div>

    <div class="chat-list">
        {% for c in conversas %}
        <a class="chat-item" href="{% url 'livros:chat' %}?id={{ c.id }}">
            <img src="{% static 'livros/img/usuario.jpg' %}" class="chat-avatar">

            <div class="chat-info">
                <h4>{{ c.nome }}</h4>
                <p>{{ c.msg }}</p>
            </div>
        </a>
        {% endfor %}
    </div>

    {% include "livros/navbar_mobile.html" %}
</div>

{% endblock %}